@import "tailwindcss";

/* Variant that works with next-themes */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-roboto: var(--font-roboto);
  --font-roboto-mono: var(--font-roboto-mono);
  --font-dmsans: var(--font-dmsans);
}

@layer utilities {
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  .animate-slideDown {
    animation: slideDown 0.2s ease-out forwards;
  }

  .animate-slideUp {
    animation: slideUp 0.2s ease-out forwards;
  }
}

@layer base {
  .header-gradient {
    @apply bg-linear-to-br from-blue-200 via-slate-200 to-slate-100 dark:from-gray-950 dark:via-gray-900 dark:to-gray-800;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-color: #9ca3af transparent;
  }

  html[data-theme="dark"] {
    scrollbar-color: #4b5563 transparent;
  }

  body {
    position: relative;
  }

  body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.18;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' /%3E%3C/svg%3E");
    pointer-events: none;
    z-index: 1;
  }

  /* Custom blur compatible in all browsers */
  .custom-blur {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    will-change: backdrop-filter;
  }
}
