@import "tailwindcss";

/* Variant that works with next-themes */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  .header-gradient {
    @apply bg-linear-to-br from-blue-200 via-slate-200 to-slate-100 dark:from-slate-800 dark:via-slate-900 dark:to-slate-950;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-color: #9ca3af transparent;
  }

  html[data-theme="dark"] {
    scrollbar-color: #4b5563 transparent;
  }

  /* Custom blur compatible in all browsers */
  .custom-blur {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    will-change: backdrop-filter;
  }
}
