@import "tailwindcss";

/* Variant that works with next-themes */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  .header-gradient {
    @apply bg-linear-to-br from-blue-200 via-slate-200 to-slate-100 dark:from-gray-800 dark:via-gray-900 dark:to-gray-950;
  }
}
